@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600&display=swap');
:root {
    --first-color:#000403;
    --button-color: #bbcfba;
    --button-color-alt: #b4b4b3;
    --card-color: #accdd5;
    --title-color: #c8cde8;
    --text-color: #124350;
    --text-color-light: #667789;
    --car-color:#260818;
    --container-color: #06070e;

    --z-tooltip: 10;
    --z-fixed: 100;
}

.dark-theme {
    --first-color: #b4a7b8;
    --button-color: #445f64; 
    --button-color-alt:#192130;
    --card-color: #492739;
    --title-color: #231930;
    --text-color:#6b506a;
    --text-color-light: #e5e5e5;
    --container-color:#f9f9f9;
    --car-color:#ffd2d2;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}

ul, li{
    list-style: none;
    color: var(--text-color);
    font-weight: 800;
}

h1, h2{
    margin-top: 0;
    margin-bottom: 0;
}

body{
    height: 100vh;
    margin: 0 auto;
    max-width: 1300px;
    background-color: var(--container-color);
}  
.bx{
    font-size: 25px;
    cursor: pointer;
}
.bxs-dog{
    font-size: 40px;
} 
.main__nav {
    max-width: 1300px;
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 0;
    background-color: var(--first-color);
    position: fixed;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    z-index: var(--z-fixed);
    color: var(--button-color-alt);
}

.home__nav {
    position: absolute;
    top: 50px;
    right: 0;
    height: 100vh;
    width: 60%;
    background-color:var(--text-color-light);
    display: none;
    font-weight: 1000;
    transition: transform 0.5s;

}
.icon__nav{
    display: flex;
    gap:1em;
    padding-top: 0.8em;
}
.contenCarShow{
    display: none;
}
.contenCar{
    width: 60%;
    height: 100vh;
    top: 50px;
    right: 0;
    position: absolute;
    background-color: var(--car-color);
    padding: 1rem;
    transition: tranform 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 0px;
    overflow-y: scroll;

}
.count{
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 0px;
    padding: 0.5rem;
    background-color: var(--title-color);
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    top: -10px;
    left: 16px;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
    font-weight: 900;
    

}
.profile{
    display: grid;
    justify-content: center;
    padding-top: 1em;
    row-gap: 0.8em;
    text-align: center;
    
}
.profile__content{
    display: grid;
    justify-content: center;
    row-gap: 0.3em;
    display: none;
}
.itemsHome__nav{
    display: grid;
    justify-content: center;
    padding-top: 1em;
    row-gap: 1em;
    text-align: center;
}
/* fin del nav */

.container__products{
    width: 100%;
    display: grid;
    height: 100vh;
    row-gap: 1em;
    padding-top: 4.5em;
    text-align: center;
    background-color: var(--container-color);
    color: var(--title-color);
}
.container__products h2{
    padding-left: 0.5em;

}
.item{
    display: grid;
    align-content: center;
    width: 210px;
    height: 300px;
    justify-content: center;
    text-align: center;
    background-color: var(--text-color-light);
    border-radius: 10%;
    box-shadow: 0 0 20px 3px var(--text-color) ;
    color: var(--card-color);
    transition: 1;
}
.btn__add,
.btn__buy{
    margin-top: 0.5em;
    padding: 0 1em;
    width: auto;
    height: 35px;
    border:  0 solid ;
    border-radius: 0.9em;
    background-color:var(--button-color);
    color: var(--container-color);
    font-size: 15px;
    font-weight: 1000;
    cursor: pointer;
}
.imgSmartphone{
    max-width: 200px;
    max-height: 180px;
}
.product__options{
    padding-top: 0.5em;
    gap: 1em;
}
.product__inf{
    color: var(--text-color);
    
}
.swiper-button-next{
    color: var(--title-color);
    font-weight: 1000;
}
.swiper-button-prev{
    color: var(--title-color);
    font-weight: 1000;
}

.products{
    display: grid;
    max-width: 100%;
    height: 380px;
    gap: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    text-align:start;
    color: var(--button-color-alt);
}
.contentCar {
    height: calc(100vh - 50px);
    width: 60%;
    top: 50px;
    right: 0;
    display: none;
    position: absolute;
    background-color: var( --car-color);
    padding: 1rem;
}

.contentCar__show {
    display: block;
}

.carProducts {
    height: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    align-items: center;
}
.carProducts .item {
    display: grid;
    width: 9em;
    height:13em;
    padding: 1em 0;
    justify-content: center;
    background-color: var(--card-color);
    color: var(--text-color-light);
    align-items: center;
    text-align: center;
}
.carProducts .item .product__options .bx{
    font-size: 1.4em;
    padding-top: 10px;
}
.carProducts .item .product__options{
    display: flex;
    justify-content: center;
    gap: 1em;
    color: var(--text-color-light);
}
.carProducts .item h3 {
    font-size: 0.9em;
    color: var( --container-color);
}
.carProducts .item .imgSmartphone{
    width: 50%;
}
.carProducts .item .product__img{
    display: flex;
    justify-content: center;
}
.product__img{
    justify-content: center;
}
.product__img :hover{
transform: scale(1.1);
}
.carTotal {
    height: 20%;
    background-color: var(--button-color-alt);
    color: var(--container-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
